@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
body{
/*Mudar a fonte escrita da pagina*/
  font-family: "Cabin", sans-serif;  
  font-weight: 400;
margin: 0;
}
/*estilizando o header*/

ul{
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: all .5s;
}
nav{
    background-color: rgb(195, 238, 167);
    padding:  0 20px;
    justify-content: space-between;   
    align-items: center; 
}
nav,ul{
    display: flex;
    flex-direction: row;
}
li{
    padding: 0 20px;
}
button{
    background-color: transparent;
    border: none;
    font-size: 35px;
     color: rgb(20, 85, 4);
     position: absolute;
     right: 10px;
     display: none;
}
li:hover,h1:hover,button:hover {
    cursor: pointer;
    opacity: 0.8;
}
li,h1 {
    color: rgb(20, 85, 4);
}
button:focus ~ ul {
    height: 260px;
}
@media(max-width:850px) {
    nav,ul{
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    ul{
        text-align: center;
        margin: 0;
        height: 0;
    }
    h1{
        margin: 10px;
    }
    button {
        display: flex;
    }
    li,ul{
        width: 100%;
    }
}
a{
    color: rgb(20, 85, 4);
    text-decoration: none;
    
}
ul{
    gap: 45px;
}
/*final do header*/
main{
    padding: 4%;
}
h2{
    color: rgb(23, 207, 146);
}


Img{
    border: 2px;
    margin-right: 5%;
}
.Bernardo{
    display: flex;
    margin-top: 10%;
    margin-bottom: 5%;
    height: 200px;
    margin-left: 20%;
}
.Alemao{
    display: flex;
    margin-right: 5%;
    margin-top: 5%;
    margin-left: 20%;
    height: 200px;
}
#imgAlemao{
    margin-left: 5%;


}
.Jhon{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 200px;
    margin-left: 20%;
}

/*footer*/
footer{ 
    background-color: rgb(195, 238, 167);
    text-align: center;
    padding: 30px;
}
.p-footer{
    color: rgb(20, 85, 4);
}
.p-footer:hover{ 
    cursor: pointer;
    opacity: 0.8;

}